language: generic

sudo: required

services:
  - docker

before_install:
  - docker build -t explainalpha/react-test-app -f ./frontend/Dockerfile.dev ./frontend

script:
  - docker run -e CI=true explainalpha/react-test-app npm run test

after_success:
  - docker build -t explainalpha/docker-frontend ./frontend
  - docker build -t explainalpha/docker-backend ./backend
  - docker build -t explainalpha/docker-nginx ./nginx

  - echo "\$DOCKER_HUB_PASSWORD" | docker login -u "\$DOCKER_HUB_ID" --password-stdin

  - docker push explainalpha/docker-frontend
  - docker push explainalpha/docker-backend
  - docker push explainalpha/docker-nginx

  